@import url("https://fonts.googleapis.com/css?family=Arimo");

body {
    background: #0e0d0dda;
}

/* шапка сайта */
.top-menu {
    display: inline;
}

.top-menu:after {
    content: "";
    display: table;
    clear: both;
}

.menu-main {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    bottom: 90px;
}

.menu-main li {
    display: inline-block;
}

.menu-main a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    line-height: 61px;
    padding: 0 15px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    color: rgb(184, 184, 184);
    transition: 0.3s ease;
    right: 600px;
}

.menu-main a:hover {
    color: rgb(138, 137, 137);
    transform: scale(1.1);
}

/* логотип */

.logo img {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 35px;
    top: 10px;
}

/* Сторка поиск */
/* form {
  position: relative;
  width: auto;
  float: right;
  margin-right: -400px;
  top: 10px;
}
input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #f9f0da;
  outline: none;
  position: relative;
  transition: 0.3s linear;
}
input:focus {
  width: 300px;
}
.sub {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  right: 12px;
  top: 3px;
}
.sub:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
} */

/* Соц.сети в шапке сайта */
.social-menu {
    position: relative;
    float: right;
    bottom: 90px;
}

.social-menu a {
    display: inline-block;
    position: relative;
    color: #adadad83;
    left: 400px;
    padding: 6px;
    font-size: 28px;
    transition: transform 0.3s linear;
}

.social-menu a:hover {
    /* color: #fff; */
    transform: scale(1.2);
}

/* Ocновной контейнер */
.container {
    display: block;
    position: relative;
    color: #fff;
    height: 100%;
}

/* блок 'Сервис' */
.box-service {
    display: block;
    text-align: justify;
    font-size: 22px;
    font-family: "Arial", sans-serif;
    color: #0c0c0c;
    position: relative;
    background: #72717134;
    box-shadow: inset 0px 0px 30px rgb(8, 8, 8);
    height: 550px;
    width: 45%;
    left: 20%;
    bottom: 50px;
    border-radius: 10px;
    background-image: url(service-box.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Картинка */
/* .key img {
    position: relative;
    width: 550px;
  height: 250px;
  float: right;
  bottom: 370px;
  right: 70px;
} */

/* текст */
.box-text {
    display: block;
    position: relative;
    width: 60%;
    height: 500px;
    padding: 5px;
    margin: 0 100px;
    text-align: center;
    font-size: 16px;
    color: #f8f7f7;
    right: 128px;
    top: 10px;
    /* background-image: url(/image/service-box.jpeg); */
}

.box-text h2 {
    position: relative;
    bottom: 13px;
    left: 150px;
}

.box-text h4 {
    position: relative;
    bottom: 20px;
    left: 150px;
}

.box-text a {
    display: block;
    position: relative;
    left: 146px;
    text-decoration: none;
    color: #e9e6e6;
    bottom: 16px;
    transition: transform 0.3s ease;
}

.box-text a:hover {
    color: #fff;
    cursor: pointer;
    transform: scale(1.2);
}

/* Горизонтальная линия */
.horiz-line {
    position: relative;
    border-top: 3px solid #f5f4f442;
    width: 100%;
    left: 150px;
    box-shadow: 1px 1px 5px rgb(163, 162, 162);
    bottom: 15px;
}

/* Подвал сайта */
.footer {
    position: relative;
    display: inline-block;
    background: #72717110;
    width: 100%;
    height: 50px;
    text-align: center;
    top: 100px;
}

.footer a {
    position: relative;
    color: #adadad83;
    transition: transform 0.3s ease;
    top: 10px;
    padding: 6px;
    right: 90px;
}

.footer a :hover {
    transform: scale(1.2);
}

/* Адаптация */
@media (max-width: 900px) {
    /* шапка сайта */
.top-menu {
    display: inline;
}

.top-menu:after {
    content: "";
    display: table;
    clear: both;
}

.menu-main {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    bottom: 90px;
}

.menu-main li {
    display: inline-block;
}

.menu-main a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    line-height: 61px;
    padding: 0 9px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    color: rgb(184, 184, 184);
    transition: 0.3s ease;
    right: 185px;
    top: 20px;
}

/* Соц.сети в шапке сайта */
.social-menu {
    position: relative;
    float: right;
    bottom: 90px;
}

.social-menu a {
    display: inline-block;
    position: relative;
    color: #adadad83;
    left: 350px;
    padding: 6px;
    font-size: 28px;
    transition: transform 0.3s linear;
    top: 30px;
}

.social-menu a:hover {
    /* color: #fff; */
    transform: scale(1.2);
}

    /* Ocновной контейнер */
.container {
    display: block;
    position: relative;
    color: #fff;
    height: 100%;
}

/* блок 'Сервис' */
.box-service {
    display: block;
    text-align: justify;
    font-size: 22px;
    font-family: "Arial", sans-serif;
    color: #0c0c0c;
    position: relative;
    background: #72717134;
    box-shadow: inset 0px 0px 30px rgb(8, 8, 8);
    height: 590px;
    width: 70%;
    left: 20%;
    bottom: 50px;
    border-radius: 10px;
    background-image: url(service-box.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Картинка */
/* .key img {
    position: relative;
    width: 550px;
  height: 250px;
  float: right;
  bottom: 370px;
  right: 70px;
} */

/* текст */
.box-text {
    display: block;
    position: relative;
    width: 60%;
    height: 500px;
    margin: 0 100px;
    text-align: center;
    font-size: 16px;
    color: #f8f7f7;
    right: 150px;
    top: 10px;
    /* background-image: url(/image/service-box.jpeg); */
}

.box-text h2 {
    position: relative;
    bottom: 13px;
    left: 150px;
}

.box-text h4 {
    position: relative;
    bottom: 20px;
    left: 150px;
}

.box-text a {
    display: block;
    position: relative;
    left: 146px;
    text-decoration: none;
    color: #e9e6e6;
    bottom: 16px;
    transition: transform 0.3s ease;
}

.box-text a:hover {
    color: #fff;
    cursor: pointer;
    transform: scale(1.2);
}

/* Горизонтальная линия */
.horiz-line {
    position: relative;
    border-top: 3px solid #f5f4f442;
    width: 100%;
    left: 150px;
    box-shadow: 1px 1px 5px rgb(163, 162, 162);
    bottom: 15px;
}

/* Подвал сайта */
.footer {
    position: relative;
    display: inline-block;
    background: #72717110;
    width: 100%;
    height: 50px;
    text-align: center;
    top: 100px;
}

.footer a {
    position: relative;
    color: #adadad83;
    transition: transform 0.3s ease;
    top: 10px;
    padding: 6px;
    left: 1px;
}

.footer a :hover {
    transform: scale(1.2);
}
}